{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<div class="tabs mb-0">
    <div class="tab-content">
        <form class="action-buttons-fixed mb-0" id="add_items" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row align-items-center">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Item Code</label>
                <div class="col-lg-7 col-xl-6">
                    <input type="text" class="form-control form-control-modern" 
                           name="Item_Code"  required/>
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Item Name</label>
                <div class="col-lg-7 col-xl-6">
                    <input type="text" class="form-control form-control-modern" name="Item_name"
                           maxlength="150"  required/>
                </div>
            </div>
    
            <div class="form-group row align-items-center">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Item Measurement</label>
                    <div class="col-lg-7 col-xl-6">
                        <select data-plugin-selectTwo class="form-control form-control-modern populate" name="Item_Measurement">
                            <option value="0">Nos</option>
                            <option value="1">Meter</option>
                            <option value="2">Kilo Gram</option>
                            <option value="2">Kilo Meter</option>
                        </select>
                    </div>
            </div>
            <div class="form-group row align-items-center">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Item stock</label>
                <div class="col-lg-7 col-xl-6">
                    <input type="text" class="form-control form-control-modern"
                           name="Item_stock" maxlength="100"/>
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Item Image</label>
                <div class="col-lg-7 col-xl-6">
                    <input type="file" id="file" name="Item_Image" accept="image/*" />
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Supplied Name</label>
                <div class="col-lg-7 col-xl-6">
                    <input type="text" class="form-control form-control-modern"
                           name="Supplier_name" maxlength="100"/>
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Employee Name</label>
                <div class="col-lg-7 col-xl-6">
                    <select data-plugin-selectTwo class="form-control form-control-modern populate" name="employee_name">
                        <option value="">----</option>
                        {% for i in employee %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <p class="text-danger m-0 d-none" id="pro-code-id-error-txt">{{err}}</p>
            <input type="submit" style="float: center;" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock main-content %}